body{
    font-size: 1rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

ul{
    font-size: 1.5rem;
}

li{
    font-size: 1.5rem;
}

.section-one{
    font-size: 2rem;
}

header{
    background-color: rgb(172, 172, 188);
}

section{
    padding: 45px 0;
}

.container{
    width: 90%;
    margin: 0 auto;
    border: 2px solid magenta;
    max-width: 620px;
    /* min-width: 500px; */
}

.section-two{
    background-color: #2e354f;
    color: #fff;
}

img{
    width: 100%;
}
